<nav ng-controller="SideNavCtrl as ctrl"
	class="col-xs-4 sidenav sidebar horizontal-collapse" horizontal
	uib-collapse="ctrl.toggleNav.status" ng-style="ctrl.getWindowHeight()">
	<div data-ui-tree="treeOptions" id="tree-root">
		<ol ui-tree-nodes="" ng-model="ctrl.data">
	    	<li class="item">
            	<a data-toggle="tooltip" title="Menu"><toggle-nav></toggle-nav></a>
        	</li>
        	<li>
        		<a class="item" ui-sref="dashboard">
	        		<i class="fa fa-tachometer" data-toggle="tooltip" title="Dashboard"></i>
	        		<span class="desc ng-binding" ng-hide="ctrl.toggleNav.status">Dashboard</span>
        		</a>
        	</li> 
			<li ng-repeat="node in ctrl.data" ui-tree-node collapsed="false" expand-on-hover="true" ng-include="'nodes_renderer.html'"></li>
		</ol>
	</div>
</nav>

<script type="text/ng-template" id="nodes_renderer.html">
	<div class="tree-node-content">
		<a class="sub-item" 
			ui-sref="{{node.MNEMONICO == '' ? '/' : node.MNEMONICO }}"
			ng-init="ctrl.node.collapse[$index] = true"
			ng-click="ctrl.toggle(this)"
			ng-class="{'dropdown-toggle': node.SUB_MENU}"> 
			<i class="fa" ng-class="node.ICON" data-toggle="tooltip" title="{{node.DESCRIPTION}}"></i> 
			<span class="desc" ng-hide="ctrl.toggleNav.status">{{node.DESCRIPTION}}
				<span class="glyphicon" ng-if="node.SUB_MENU.data && node.SUB_MENU.data.length > 0" 
					ng-class="{
	    		    	'glyphicon-chevron-right': collapsed,
    	    			'glyphicon-chevron-down': !collapsed
        			}" >
				</span>
			</span>
		</a>
  	</div>
  	<ol ng-model="node.SUB_MENU.data" ng-class="{'angular-ui-tree-nodes':!ctrl.toggleNav.status,hidden:collapsed,displayed:!collapsed}">
    	<li ng-repeat="node in node.SUB_MENU.data" ui-tree-node data-collapsed="false" data-expand-on-hover="false" ng-include="'nodes_renderer.html'">
    	</li>
  	</ol>
</script>

<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();   
	});
</script>