<div>
    <div class="modal-header">
<!--     	<button type="button" class="close" ng-click="$close()">x</button>
 -->        
 		<h3 class="modal-title">{{ctrl.title}}</h3>
    </div>
    <div class="modal-body">
	    <div class="addUser" ng-click="ctrl.insert(null, null , ctrl.TRANSACTION_TYPE.insert)">
	        <i class="fa fa-plus ui-grid-link" aria-hidden="true"></i>
	    </div>
	    <div id="gridUserEmail" ui-grid="ctrl.gridOptions" class="grid" 
	    	ui-grid-pagination ui-grid-selection ui-grid-auto-resize 
	    	ng-style="ctrl.getTableHeight()"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ctrl.save(grid, row)" ng-disable="ctrl.validForm.$valid" ng-if="ctrl.isValid()">Gravar</button>
        <button class="btn btn-warning" ng-click="$close()">Cancelar</button>
    </div>
</div>