<div class="login-page" ng-controller="LoginCtrl as login">
    <div class="login-logo"></div>
    <div class="login-form">
        <div class="alert alert-danger" role="alert" ng-if="login.errorMsg">Erro: <strong>{{login.errorMsg.status}}</strong><br>{{login.errorMsg.data}}</div>
        <form name="login.loginForm" class="form" method="GET" ng-submit="login.submit();" novalidate>
            <input type="text" placeholder="username" ng-model="login.credentials.user" />
            <input type="password" placeholder="password" ng-model="login.credentials.password" />
            <input type="submit" value="Login">
        </form>
        <!--
        <form 
            sf-model="login.credentials"
            name="login.loginForm"
            class="form"
            method="GET"
            ng-submit="login.submit();"
            novalidate>
            <div ng-bind-html="login.inputCPF"></div>
            <input-Cpf type="text" label="Usuário" form-id="user" required></input-Cpf>
            <div class="ng-binding">
	            <input type="text" ng-model="cpf" ui-br-cpf-mask>
            </div>
        </form>
        -->
<!--        <a href="#" ng-click="logout()">Logout</a>-->
    </div>
</div>