<div class="login-page" ng-controller="LoginCtrl as login">
    <div class="login-logo"></div>
    <div class="login-form">
        <div class="alert alert-danger" role="alert" ng-if="login.errorMsg">Erro: <strong>{{login.errorMsg.status}}</strong><br>{{login.errorMsg.data}}</div>
        <form name="login.loginForm" class="form" method="GET" ng-submit="login.submit();" novalidate>
            <input type="text" placeholder="username" ng-model="login.credentials.user" />
            <input type="password" placeholder="password" ng-model="login.credentials.password" />
            <input type="submit" value="Login">
        </form>
<!--        <a href="#" ng-click="logout()">Logout</a>-->
    </div>
</div>