<div>
    <div class="modal-header">
		<div class="row">
			<div class="col-md-7 ">
				<h1 class="page-header-title">{{ctrl.title}}</h1>
			</div>
			<div class="col-md-5 btn-toolbar" role="toolbar" ng-include="'app/views/gridToolBar.html'">
			</div>
		</div>
		<h1 class="page-header-line"></h1>
    </div>
    <div class="modal-body">
	    <div id="gridDetail" ui-grid="ctrl.gridOptions" class="grid" 
	    	ui-grid-pagination ui-grid-selection ui-grid-auto-resize 
	    	ng-style="ctrl.getTableHeight()"></div>
    </div>
</div>